{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container-wide">
        <div class="row admin-margin">
            <div class="col s5 center-align users-list z-depth-2 border-radius mb-l mt-l pad-0">
                <h4 class="bck-night-gr border-radius-top admin-title-card pt-l pb-l">
                    {{ status == 'volunteer' ? 'Accompagnants' : 'Bénéficiaires' }}
                </h4>
                <div id="searchRow" class="row mt-l">
                    <div class="col s6 offset-s1">
                        <input type="text" data-type="{{ status }}" name="search" id="searchUser">
                    </div>
                    <div class="col s4 mr-s">
                        <a class="waves-effect waves-light btn" id="searchButton">Rechercher</a>
                    </div>
                </div>
                <div id="loading" class="progress display-loading">
                    <div class="indeterminate"></div>
                </div>
                <table class="striped mt-l" id="users-table">
                    <thead>
                    <tr>
                        <th class="center-align">#</th>
                        <th class="center-align">PRÉNOM</th>
                        <th class="center-align">NOM</th>
                        <th class="center-align">DISPOS</th>
                        <th class="center-align">ACTIF</th>
                        <th class="center-align">ACTION</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        {% include 'admin/_components/_tableUsers.html.twig' %}
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col s6">
                        <a id="previous" class="waves-effect waves-light btn paginator display-button" data-limit="0" data-type="{{ status }}" data-paginator="previous">Page précédente</a>
                    </div>
                    <div class="col s6">
                        <a id="next" class="waves-effect waves-light btn paginator" data-limit="5" data-type="{{ status }}" data-paginator="next">Page suivante</a>
                    </div>
                </div>
            </div>
            <div class="col s5 offset-s1 center-align z-depth-2 border-radius mb-l mt-l">
                <h4 class="bck-night-gr border-radius-top admin-title-card pt-l pb-l">Ajouter un {{ status == 'volunteer' ? 'accompagnant' : 'bénéficiaire' }}</h4>
                {{ include('admin/_components/_form_register.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('searchUser') }}
    {{ encore_entry_script_tags('paginator') }}
{% endblock %}
