{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Add an availability{% endtrans %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <form id="form_schedule" class="col s12">
                <h3 class="bck-night-gr white-text center pad border-radius mb-s">
                    <i class="material-icons trip-title">date_range</i>
                    <i class="material-icons trip-title">add</i>
                </h3>
                <div class="row pl-l pr-l mb-s mt-l">
                    <i class="material-icons mt-s small col s1">date_range</i>
                    <input id="datepicker_schedule" name='datePicker' type="text" class="datepicker pl-l pr-l col s10 offset-s1" value="{{ 'Set date'|trans }}">
                </div>
                <div class="row mt-l mb-l pr-l pl-l">
                    <div class="col s5 offset-s2">
                        <label>
                            <input name="morning" type="checkbox" value="{{ 'Morning'|trans }}" class="pl-s">
                            <span>
                                {% trans %}Morning{% endtrans %}
                            </span>
                        </label>
                    </div>
                    <div class="col s5">
                        <label>
                            <input name="afternoon" type="checkbox" value="{{ 'Afternoon'|trans }}">
                            <span>
                                {% trans %}Afternoon{% endtrans %}
                            </span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="center-align mt-l">
            <button class="btn waves-effect waves-light ml mt mb" id="button_schedule" type="button" name="action">
                <i class="material-icons">add</i>
            </button>
        </div>
        <div class="row pl-s pr-s">
            <h5 class="mt">
                {% trans %}My availabilities :{% endtrans %}
            </h5>
            <table id="calendar-table">
                <thead>
                    <tr>
                        <th>
                            {% trans %}Date{% endtrans %}
                        </th>
                        <th class="center-align">AM</th>
                        <th class="center-align">PM</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for calendar in calendars|sort((a, b) => a.date <=> b.date) %}
                    <tr>
                        <td>{{ app.request.locale == 'fr' ? calendar.date|date("Y-m-d") : calendar.date|date("Y-m-d") }}</td>
                        <td class="center-align">
                            <i class="material-icons {{ calendar.isMorning == true ? 'schedule-true' : 'schedule-false' }}">brightness_1</i>
                        </td>
                        <td class="center-align">
                            <i class="material-icons {{ calendar.isAfternoon == true ? 'schedule-true' : 'schedule-false' }}">brightness_1</i>
                        </td>
                        <td class="center-align">
                            <a href="{{ path('delete_schedule', {'id' : calendar.id}) }}">
                                <i class="material-icons admin-link">delete</i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
