{% extends 'base.html.twig' %}

{% block title %}Trip{% endblock %}

{% block body %}
    <h1>Trip</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trip.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ trip.Date ? trip.Date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ trip.createdAt ? trip.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ trip.updatedAt ? trip.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('trip_index') }}">back to list</a>

    <a href="{{ path('trip_edit', {'id': trip.id}) }}">edit</a>

    {{ include('trip/_delete_form.html.twig') }}
{% endblock %}
