{% extends 'base.html.twig' %}

{% block title %}Trip{% endblock %}

{% block body %}
    <div id="userInfo" class="modal">
        <div class="modal-content center-align">
            <h3><i class="material-icons trip-title">contact_phone</i></h3>
            <h5>{{ volunteer ? volunteer.givenName ~ ' ' ~ volunteer.familyName : user.givenName ~ ' ' ~ user.familyName }}</h5>
            <h5 class="pt bck-ice pl pb pr border-radius" id="phoneNumber">
                <i class="material-icons pr-s">phone</i>
                <a href="{{ 'tel:' ~ (volunteer ? volunteer.telephone : user.telephone) }}">{{ volunteer ? volunteer.telephone : user.telephone }}</a>
            </h5>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <div class="container">
        <div class="row z-depth-2">
            <h3 class="bck-night-gr white-text center pad border-radius-top mb-s">
                <i class="material-icons trip-title">directions_car</i>
                <i class="material-icons trip-title">map</i>
            </h3>
            <table class="table table-trip col s10 offset-s1">
                <tbody>
                <tr>
                    <th><i class="material-icons small pt-s pl">date_range</i></th>
                    <td class="right-align pr">{{ trip.date|date('Y-m-d') }}</td>
                </tr>
                <tr>
                    <th><i class="material-icons small pt-s pl">access_time</i></th>
                    <td class="right-align pr">{{ trip.date|date('h:i A') }}</td>
                </tr>
                <tr>
                    <th><i class="material-icons small pt-s pl">gps_fixed</i></th>
                    <td class="right-align pr">{{ trip.departure.name }}</td>
                </tr>
                <tr>
                    <th><i class="material-icons small pt-s pl">location_on</i></th>
                    <td class="right-align pr">{{ trip.arrival.name }}</td>
                </tr>
                {% if trip.volunteer %}
                    <tr>
                        <th><i class="material-icons small pt-s pl">people</i></th>
                        <td class="right-align pr"><a class="waves-effect waves-light modal-trigger" href="#userInfo">{{ volunteer.givenName }} {{ volunteer.familyName }}</a></td>
                    </tr>
                {% endif %}
                {% if app.user.status == 'volunteer' %}
                    <tr>
                        <th><i class="material-icons small pt-s pl">people</i></th>
                        <td class="right-align pr"><a class="waves-effect waves-light modal-trigger" href="#userInfo">{{ user.givenName }} {{ user.familyName }}</a></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="pt trip-show-tools bck-ice z-depth-2 border-radius-bottom pt pb">
            {% if app.user.status == 'beneficiary' %}
                {% if not trip.volunteer %}
                    <div class="center-align">
                        <a href="{{ path('trip_edit', {'id': trip.id}) }}" class="btn"><i class="material-icons">edit</i></a>
                    </div>
                {% endif %}
                <div class="center-align">
                    {{ include('trip/_delete_form.html.twig') }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
