{{ form_start(form) }}
<div class="row pl pr mt">
    <div class="col s10 offset-s1">
        {{ form_widget(form.givenName) }}
    </div>
</div>
<div class="row pl pr mb-l">
    <div class="col s10 offset-s1">
        {{ form_widget(form.familyName) }}
    </div>
</div>
<div class="row pl pr mb-l">
    <div class="col s5 offset-s1">
        {{ form_widget(form.gender) }}
    </div>
    <div class="col s4 offset-s1">
        {{ form_widget(form.birthDate) }}
    </div>
</div>
<div class="row pl pr mb-l">
    <div class="col s10 offset-s1">
        {{ form_widget(form.email) }}
    </div>
</div>
<div class="row pl pr mb-l">
    <div class="col s5 offset-s1">
        {{ form_widget(form.telephone) }}
    </div>
    <div class="col s4 offset-s1">
        {{ form_widget(form.status) }}
    </div>
</div>
<div class="row pl pr mb-l">
    <div class="col s10 offset-s1 pl pr mb">
        {{ form_widget(form.password) }}
        <p class="left-align mdp">* N'oubliez pas de communiquer le mot de passe à l'utilisateur.</p>
        <p class="left-align mdp">N. B. : l'utilisateur pourra ajouter sa photo depuis sa page de profil.</p>
    </div>
</div>
<div class="center-align mb">
    <button class="btn"><i class="material-icons">arrow_forward</i></button>
</div>
{{ form_end(form) }}
