<div class="navbar-fixed mb-l">
    <nav class="bck-night">
        <div class="nav-wrapper">
            <img src="{{ asset('build/Logo_FTA.png') }}" alt="FTA logo" class="brand-logo navbar-logo mt-s ml-s">
            <p class="brand-logo navbar-title margin-0">ESPACE ADMINISTRATEUR</p>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ path('admin_index') }}">Accueil</a></li>
                <li><a href="{{ path('admin_trips') }}">Accompagnements</a></li>
                <li><a href="{{ path('admin_common', {'status': 'volunteer'}) }}">Accompagnants</a></li>
                <li><a href="{{ path('admin_common', {'status': 'beneficiary'}) }}">Bénéficiaires</a></li>
                <li><a href="{{ path('departure_index') }}">Départs</a></li>
                <li><a href="{{ path('arrival_index') }}">Arrivées</a></li>
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            </ul>
        </div>
    </nav>
</div>
