<tr>
    <td class="{{ trip.volunteer ? 'bck-green' : 'bck-red' }}">{{ loop.index }}</td>
    <td>{{ trip.departure.name }}</td>
    <td>{{ trip.arrival.name }}</td>
    <td>{{ trip.date|date("d-m-Y") }}</td>
    {% if app.request.attributes.get('_route') == 'admin_trips' %}
        <td>{{ trip.date|date("H:i") }}</td>
    {% endif %}
    <td>{{ trip.beneficiary.givenName }} {{ trip.beneficiary.familyName }}</td>
    {% if trip.volunteer %}
        <td>{{ trip.volunteer.givenName }} {{ trip.volunteer.familyName }}</td>
    {% else %}
        <td>Aucun</td>
    {% endif %}
</tr>
