<tr>
    <td class="center-align {{ trip.volunteer ? 'bck-green' : 'bck-red' }}">{{ loop.index }}</td>
    <td class="center-align">{{ trip.departure.name }}</td>
    <td class="center-align">{{ trip.arrival.name }}</td>
    <td class="center-align">{{ trip.date|date("d-m-Y") }}</td>
    <td class="center-align">{{ trip.beneficiary.givenName }} {{ trip.beneficiary.familyName }}</td>
    {% if trip.volunteer %}
        <td class="center-align">{{ trip.volunteer.givenName }} {{ trip.volunteer.familyName }}</td>
    {% else %}
        <td class="center-align">Aucun</td>
    {% endif %}
    <td class="center-align">
        <i class="material-icons">delete</i>
    </td>
</tr>
