<tr>
    <td class="center-align">{{ loop.index }}</td>
    <td class="center-align">{{ user.givenName }}</td>
    <td class="center-align">{{ user.familyName }}</td>
    <td class="center-align">{{ user.createdAt|date("d-m-Y") }}</td>
    <td class="center-align">{{ user.isActive == '1' ? 'oui' : 'non' }}</td>
    <td class="center-align">
        <a href="{{ path('admin_edit_user', {'id': user.mobicoopId, 'status': user.status}) }}">
            <i class="material-icons">edit</i>
        </a>
        <i class="material-icons">delete</i>
    </td>
</tr>
