<tr>
    <td>{{ loop.index }}</td>
    <td>{{ user.givenName }}</td>
    <td>{{ user.familyName }}</td>
    <td>{{ user.createdAt|date("d-m-Y") }}</td>
    <td>{{ user.isActive == '1' ? 'oui' : 'non' }}</td>
    <td>{{ user.status == 'beneficiary' ? 'Bénéficiaire' : 'Volontaire' }}</td>
    <td>
        <a href="{{ path('admin_edit_user', {'id': user.mobicoopId, 'status': user.status}) }}">
            <i class="material-icons">edit</i>
        </a> /
        <i class="material-icons">delete</i>
    </td>
</tr>
