<div id="userInfo" class="modal">
    <div class="modal-content center-align">
        <h5 class="mt-0">
            {{ app.user.status == 'beneficiary' and volunteer ? volunteer.givenName ~ ' ' ~ volunteer.familyName : beneficiary.givenName ~ ' ' ~ beneficiary.familyName }}
        </h5>
        {% if app.user.status == 'beneficiary' and volunteer %}
        <img class="img-profile border-radius" src="{{ volunteerPicture ? asset('uploads/' ~ volunteerPicture) : asset('build/user_avatar.png') }}" alt="">
        {% else %}
        <img class="img-profile border-radius" src="{{ beneficiaryPicture ? asset('uploads/' ~ beneficiaryPicture) : asset('build/user_avatar.png') }}" alt="Picture">
        {% endif %}
        <h5 class="pt bck-ice pl pb pr border-radius" id="phoneNumber">
            <i class="material-icons pr-s">phone</i>
            <a href="{{ 'tel:' ~ (app.user.status == 'beneficiary' and volunteer ? volunteer.telephone : beneficiary.telephone) }}">{{ app.user.status == 'beneficiary' and volunteer ? volunteer.telephone : beneficiary.telephone }}</a>
        </h5>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat margin-0">
            {% trans %}Close{% endtrans %}
        </a>
    </div>
</div>
