{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}My profile{% endtrans %}
{% endblock %}

{% block body %}
    <div id="profile-picture" class="modal">
        <div class="modal-content">
            <img src="{{ asset('uploads/Profil_zoom.jpg') }}" class="img-profile">
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                {% trans %}Close{% endtrans %}
            </a>
        </div>
    </div>
    <div class="container">
        <div class="row z-depth-2">
            <h3 class="bck-night-gr white-text center pad border-radius-top mb-s">
                <i class="material-icons trip-title">account_circle</i>
            </h3>
            {% if app.request.locale == 'ar' %}
                {{ include('_arab_templates/ar_user_show.html.twig') }}
            {% else %}
            <table class="table table-trip col s10 offset-s1">
                <tbody>
                    <tr>
                        <th>
                            <i class="material-icons small pt-s pl color-blue-night">person_pin</i>
                        </th>
                        <td class="right-align pr">{{ user.givenName }} {{ user.familyName }}</td>
                    </tr>
                    <tr>
                        <th>
                            <i class="material-icons small pt-s pl color-blue-night">mail</i>
                        </th>
                        <td class="right-align pr">{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>
                            <i class="material-icons small pt-s pl color-blue-night">phone</i>
                        </th>
                        <td class="right-align pr">{{ user.telephone }}</td>
                    </tr>
                    <tr class="border-bottom-0">
                        <th>
                            <i class="material-icons small pt-s pl color-blue-night">photo</i>
                        </th>
                        <td class="right-align pr">
                            <a class="modal-trigger profile-link" href="#profile-picture">
                                {% trans %}See my picture{% endtrans %}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
        </div>
        <div class="pt trip-show-tools bck-ice z-depth-2 border-radius-bottom pt pb">
            <div class="center-align">
                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn">
                    <i class="material-icons">edit</i>
                </a>
            </div>
            <div class="center-align">
                {{ include('user/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
    <div class="container center-align">
        <h2>
            <a href="{{ path('logout') }}">
                <i class="material-icons trip-title color-red txt-shadow-black">cancel</i>
            </a>
        </h2>
    </div>
{% endblock %}
